[submodule "browsers/browser-firefox"]
	path = browsers/browser-firefox
	url = https://github.com/webrecorder/browser-firefox
[submodule "browsers/browser-chrome"]
	path = browsers/browser-chrome
	url = https://github.com/webrecorder/browser-chrome
[submodule "browsers/browser-chromium"]
	path = browsers/browser-chromium
	url = git@gitlab.nfb.ca:rnd/webrecorder/browser-chromium.git
